<?xml version="1.0"?>
<model>
  <name>3DR Iris with lidar and IRLock as well as a monocular camera</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_irlock_with_monocular_camera.sdf</sdf>

  <author>
   <name>Shawnrainman</name>
   <email>843540825@qq.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with lidar and IRLock sensors, as well as a downward monocular camera. The original model
    has been created by Daniel Agar. The sensors have been created by Christoph Tobler, Daniel Agar and Guanzheng Wang, respectively.
  </description>
</model>

